%div(id = 'custom_generator')
  = button_tag 10, :class => :initial_points, :type => :button

  %p
    =field.label 'Хитпоинт'
    =field.text_field :hero_hp
    =button_tag '+', :class => :addicter, :type => :button
  %p
    =field.label 'Регенерация'
    =field.text_field :hero_reg
    =button_tag '+', :class => :addicter, :type => :button
  %p
    =field.label 'Защита'
    =field.text_field :hero_def
    =button_tag '+', :class => :addicter, :type => :button
  %p
    =field.label 'Атака'
    =field.text_field :hero_attack
    =button_tag '+', :class => :addicter, :type => :button
  %p
    =field.label 'Урон'
    =field.text_field :hero_dmg
    =button_tag '+', :class => :addicter, :type => :button
  %p
    =field.label 'Энергия'
    =field.text_field :hero_en
    =button_tag '+', :class => :addicter, :type => :button
  %p
    =field.label 'Интеллект'
    =field.text_field :hero_int
    =button_tag '+', :class => :addicter, :type => :button
  %p
    =field.label 'Сила'
    =field.text_field :hero_str
    =button_tag '+', :class => :addicter, :type => :button

  %p
    =field.label 'Созидание'
    =field.text_field :hero_create
    =button_tag '+', :class => :addicter, :type => :button
  %p
    =field.label 'Максимальные хитпоинты'
    =field.text_field :hero_max_hp
    =button_tag '+', :class => :addicter, :type => :button
  %p
    =field.label 'Харизма'
    =field.text_field :hero_char
    =button_tag '+', :class => :addicter, :type => :button
  %p
    =field.label 'Аггрессия'
    =field.text_field :hero_aggr
    =button_tag '+', :class => :addicter, :type => :button
