<div id="wrapper">
    <div id="panel">
        <a class="handle" href="#">Content</a>
        <ul class="stuff pattern">
            <!----->
        </ul>
    </div>
    <div id="field" class="pattern">
            <!----->
    </div>
</div>
<ul id="enemy" class="pattern">
    <li>
        <a>
            <i class="icon_talk"></i>
            <span class="title">Игрок 1</span>
            <span class="description">Информация</span>
        </a>
    </li>
    <li>
        <a>
            <i class="icon_war"></i>
            <span class="title">Игрок 2</span>
            <span class="description">Информация</span>
        </a>
    </li>
    <li>
        <a>
            <i class="icon_talk"></i>
            <span class="title">Игрок 3</span>
            <span class="description">Информация</span>
        </a>
    </li>
    <li>
        <a>
            <i class="icon_war"></i>
            <span class="title">Игрок 4</span>
            <span class="description">Информация</span>
        </a>
    </li>
    <li>
        <a>
            <i class="icon_war"></i>
            <span class="title">Игрок 5</span>
            <span class="description">Информация</span>
        </a>
    </li>
</ul>