<!DOCTYPE html>
<html>
<head>
  <title>Primitives</title>
  <!--[if lt IE 7]>
      <link href="/stylesheets/ie6.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= yield %>
</body>
</html>
